@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');

html, body {
  font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, .title {
    font-family: "Noto Serif", serif;
}

.title {font-size: 48px;}
.title a {text-decoration: none;}
@media (max-width: 600px) {
    .title {font-size: 36px;}
}

h1{font-size:32px;}
h2{font-size:24px;}
h3{font-size:21px;}
h4{font-size:18px;}
h5{font-size:16px;}
h6{font-size:14px;}
@media (max-width: 460px) {
    .title {font-size: 28px;}
    h1{font-size:24px;}
    h2{font-size:21px;}
    h3{font-size:18px;}
}

.w3-tiny {font-size:8px;}
.w3-small {font-size:11px;}
.w3-medium {font-size:16px;}
.w3-large{font-size:21px;}
.w3-xlarge{font-size:36px;}
.w3-xxlarge{font-size:48px;}
.w3-xxxlarge{font-size:60px;}
.w3-jumbo{font-size:72px;}