{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% block content %}
    <article class="w3-margin w3-card-4 w3-margin theme-light">
    <div class="w3-container theme-light theme-green">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="w3-container">
        {{ page.intro | richtext}}
        <form action="{% pageurl page %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
    </div>
</article>
{% endblock %}