{% load static wagtailuserbar %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fruering.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
        {% endblock %}
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="theme {% block body_class %}{% endblock %}">
<!-- Header -->
        <header class="w3-container theme-green w3-padding-32 w3-center">
            <a class="title" href="{% if not request.is_preview %}{% pageurl page.home %}{% else %}/{% endif %}">Fruering</a>
            <p>Velkommen til landsbyen Fruerings hjemmeside</p>
        </header>
<!-- Navigation -->
        <div id="navigation" class="w3-container theme-dark">
            <div class="w3-content">
                {% wagtailuserbar %}
                {% include "nav.html" %}
            </div>
        </div>
        <div id="content-container" class="w3-container">
            <section id="content" class="w3-content">
                {% block content %}{% endblock %}
            </section>
        </div>
        </div>
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/fruering.js' %}"></script>
        {% block javacript %}
        {% endblock %}
        <script language="JavaScript">

        </script>
    </body>
</html>
