{% load wagtailcore_tags %}

<nav id="medium-large-navigation" class="w3-bar w3-theme">
    {% for menu_item in page.menu_items %}
         <a href="{% pageurl menu_item %}" class="w3-bar-item w3-button w3-hover-blue w3-hide-small w3-hide-medium">{{ menu_item.title }}</a>
    {% endfor %}
    <a href="javascript:void(0);" class="w3-bar-item w3-button w3-hover-blue w3-hide-large" onclick="toggleSmallNav()">&#9776;</a>
</nav>
<nav id="small-nav" class="w3-bar-block w3-blue w3-hide w3-hide-large">
    {% for menu_item in page.menu_items %}
        <a href="{% pageurl menu_item %}" class="w3-bar-item w3-button w3-hover-theme">{{ menu_item.title }}</a>
    {% endfor %}
</nav>